<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.assistancedistributionmonitoringsystemadms">

    <uses-sdk tools:overrideLibrary="pl.droidsonroids.gif:android-gif-drawable:1.2.17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssistanceDistributionMonitoringSystemADMS">
        <activity android:name=".n_a"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".check_pending"
            android:screenOrientation="portrait"/>
        <activity android:name=".Audit_logs"
            android:screenOrientation="portrait"/>
        <activity android:name=".not_found"
            android:screenOrientation="portrait"/>
        <activity android:name=".role"
            android:screenOrientation="portrait"/>
        <activity android:name=".login_e_admin"
            android:screenOrientation="portrait"/>
        <activity android:name=".setup_admin_access"
            android:screenOrientation="portrait"/>
        <activity android:name=".unauthorized_access"
            android:screenOrientation="portrait"/>
        <activity android:name=".error_form"
            android:screenOrientation="portrait"/>
        <activity android:name=".message"
            android:screenOrientation="portrait"/>
        <activity android:name=".public_a"
            android:screenOrientation="portrait"/>
        <activity android:name=".VerifyOTP"
            android:screenOrientation="portrait"/>
        <activity android:name=".RequestOTP"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".data_append"
            android:screenOrientation="portrait"/>
        <activity android:name=".admin_access_crud"
            android:screenOrientation="portrait"/>
        <activity android:name=".public_info"
            android:screenOrientation="portrait"/>
        <activity android:name=".admin_access"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>